body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

input {
  outline: none;
  box-sizing: border-box;
}

.left-sidebar {
  width: 350px;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: fixed;
  border-right: 1px solid #f2f2f2;
}

.logo {
  font-size: 32px;
  text-align: center;
  margin: 200px 0 32px;
}

.navigation {
  margin: 100px 32px;
}

.nav-button {
  cursor: pointer;
  border-radius: 4px;
  color: #b8bec1;
  transition: 250ms background-color, 250ms color;
  overflow: hidden;
}

.nav-button:hover {
  background-color: #f7f7f7;
  color: #757a7c;
  transition: 250ms background-color, 250ms color;
}

.nav-button span {
  display: block;
  float: left;
}

.button-icon {
  margin: 8px;
}

.button-label {
  margin: 9px;
  margin-left: 0;
}

.footer {
  width: calc(350px - 64px);
  padding: 32px;
  bottom: 0;
  left: 0;
  position: absolute;
  font-size: 14px;
  overflow: hidden;
}

.footer a {
  color: #b8bec1;
  margin-right: 16px;
  text-decoration: none;
  display: block;
  float: left;
  transition: 250ms color;
}

.footer a:hover {
  color: #757a7c;
  transition: 250ms color;
}

.main-container {
  padding-left: 350px;
  overflow: hidden;
}

.header {
  overflow: hidden;
  margin-top: 32px;
  margin-left: 48px;
  margin-bottom: 32px;
  margin-right: 48px;
  padding: 48px 0;
  border-bottom: 1px solid #f2f2f2;
}

.page-title {
  margin: 0;
  float: left;
  font-weight: normal;
  text-transform: uppercase;
}

.wrap {
  overflow: hidden;
}

.content {
  max-width: 750px;
  margin-left: 48px;
  margin-right: 48px;
  line-height: 25px;
  letter-spacing: 0.2px;
  float: left;
}

.profile-link {
  float: right;
  overflow: hidden;
  border-radius: 32px;
  cursor: pointer;
  transition: 250ms background-color;
}

.profile-link:hover {
  background-color: #f2f2f2;
  transition: 250ms background-color;
}

.profile-link-name {
  float: left;
  margin: 13px 16px;
  color: #636b6e;
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  float: right;
  object-fit: cover;
  display: block;
}

.right-sidebar {
  width: 350px;
  float: right;
  margin-right: 48px;
  padding: 16px;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
}

.sidebar-title {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #f2f2f2;
  text-transform: uppercase;
}

.sidebar-button {
  float: left;
  padding: 8px;
  cursor: pointer;
  border-radius: 100%;
  transition: 250ms background-color;
  color: #b8bec1;
}

.sidebar-button:hover {
  background-color: #f2f2f2;
  transition: 250ms background-color;
}

.sidebar-button span {
  display: block;
  /* font-size: 32px; */
}

.field-label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  color: #b8bec1;
}

.sidebar-field {
  padding: 8px;
  width: 100%;
  border: 1px solid #e9ebec;
  border-radius: 8px;
  transition: 250ms border-color;
  margin-bottom: 12px;
}

.sidebar-field:focus {
  border-color: #75aecf;
  transition: 250ms border-color;
}

.sidebar-navigation {
  margin-top: 32px;
}

.auth-page {
  width: 300px;
  margin: auto;
  height: 100vh;
  display: flex;
}

.auth-form {
  margin: auto;
}

.auth-form .logo {
  margin: 0;
  margin-bottom: 32px;
}

.form-field {
  padding: 8px;
  width: 100%;
  border: 1px solid #e9ebec;
  border-radius: 8px;
  transition: 250ms border-color;
  margin-bottom: 12px;
}

.form-field:focus {
  border-color: #75aecf;
  transition: 250ms border-color;
}

.form-button {
  padding: 8px;
  width: 100%;
  border: 1px solid #75aecf;
  background-color: #75aecf;
  color: white;
  border-radius: 8px;
  transition: 250ms border-color, 250ms background-color;
  margin-bottom: 12px;
  cursor: pointer;
}

.form-button:active {
  background-color: #639ab9;
  border-color: #639ab9;
  transition: 250ms border-color, 250ms background-color;
}
