.content {
  /* width: calc(100% - 400px - 64px - 32px); */
  width: 600px;
  float: left;
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 5px #e2e2e2;
  overflow: hidden;
  margin-bottom: 32px;
}
