.modal-dialogue {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.modal-dialogue.opened {
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal-container {
  margin: auto;
  padding: 16px;
  width: 250px;
  border-radius: 5px;
  background-color: white;
}

.modal-header {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
}

.modal-title {
  width: 100%;
  font-size: 16px;
  margin: 5px 0;
}

.modal-actions {
  display: flex;
  flex-direction: row-reverse;
}

.modal-action-button {
  background: #e27878;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.modal-action-button:active {
  background: #b65858;
}
