.side-button {
  margin-top: 100px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border: none;
  display: flex;
  overflow: hidden;
  padding: 12px;
  color: #c1c8cc;
  border-radius: 16px;
  transition: 250ms color, 250ms background-color;
  text-decoration: none;
  outline: none;
}

.side-button.red {
  background-color: #e27878;
  color: #ffecec;
}

.side-button:active {
  background-color: #b65858;
}

.side-button-icon {
  margin-right: 4px;
}

.side-button-label {
  font-size: 14px;
  margin: 4px;
}
