.auth-form {
  margin: auto;
  width: 100%;
  background-color: white;
  padding: 32px 24px;
  border-radius: 16px;
  box-shadow: 0 0 5px #e2e2e2;
}

.form-field {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #e1e7ed;
  border-radius: 16px;
  margin-bottom: 8px;
  transition: 250ms border-color;
}

.form-field:focus {
  border-color: #2ba9e6;
  transition: 250ms border-color;
}

.form-button {
  margin-top: 12px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #2ba9e6;
  background-color: #2ba9e6;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  transition: 250ms border-color, 250ms background-color;
}

.form-button:active {
  background-color: #279ad5;
  border-color: #279ad5;
  transition: 250ms border-color, 250ms background-color;
}

.form-title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.field-label {
  font-size: 12px;
  padding-left: 12px;
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  color: #b3b3b3;
}

.not-valid {
  margin-top: 16px;
  padding: 10px;
  border: 1px solid #e05959;
  background: #f5c1c1;
  color: #c25b5b;
  border-radius: 16px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
